:root {
  --primary--color--: #e6e6ff;
  --secondary--color--: #e6e6ff;
  --white--color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--primary--color--);
  display: flex;
}

#app {
  width: 100%;
}

/*  -------------------- NAVIGATION --------------------*/

.main__navigation {
  background-color: var(--white--color);
  height: 7%;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0;
  border-bottom: 1px solid var(--primary--color--);
}

.main__navigation button img {
  height: 100%;
  border: none;
  appearance: none;
  outline: transparent solid 2px;
}

.main__navigation button {
  padding: 0;
  border: none;
  background: none;
  border-radius: 1rem;
  transition: all 0.3s;
  cursor: pointer;
}

.main__navigation button:hover {
  filter: brightness(0.94);
}

.logo__img {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logo__img img {
  height: 100%;
  cursor: pointer;
}

.logo__img input {
  margin-left: 1rem;
  height: 50%;
  border-radius: 2rem;
  border: none;
  background-color: var(--secondary--color--);
  font-size: 1.6rem;
  padding-left: 1rem;
  appearance: none;
  outline: transparent 2px solid;
}
/*  -------------------- MAIN --------------------*/
main {
  height: 75%;
}
.user {
  margin: 0 auto;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: var(--white--color);
}

.user__cover__photo {
  /* border: 1px solid black; */
  width: 70%;
  height: 80%;
  background-color: var(--primary--color--);
border-radius: 0 0 2rem 2rem;
}

.user__profile {
  border: 1px solid black;
  height: 20%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.user__profile img {
  height: 50px;
}

.user__info{
  height: 100%;
  /* width: 40%; */
  margin-left: 10rem;
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  position:relative;
}

.user__info img {
   position:absolute; 
   top: 0%;
   left: 0%;
   /* height: 50rem;
   width: 50rem; */
}


.user__edit {
width: 13%;
display: flex;
justify-content: space-between;
background-color: var(--primary--color--);
font-size: 1.6rem;
font-weight: bold;
align-items: center;
padding: 1rem 2rem;
border-radius: 1rem;
align-self: flex-end;

}

.user__edit img {
  height: 100%;
}

